/* © Rob W <gwnRob@gmail.com> */
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 1em 1em 0 1em;
    font-family: arial, sans-serif;
    background-color: #FFF;
}
h1 {
    margin: 0;
    font-size: 1.15em;
    line-height: 1em;
}
.container {
    margin: 2px;
    padding: 0.5em 5px;
    border: 1px solid #759;
}
input {
    margin: 3px 0 0 0;
}

/* Text input */
#uid {
    margin: 0;
}
#uid, #link {
    border: solid 1px #CCC;
    color: #333;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    width: 300px;
}
#link {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.changed {
    background-color: rgba(255, 255, 50, 0.5);
}
.invalid {
    background-color: rgba(255, 0, 0, 0.2);
}
#uid:not(.changed):not(.invalid),
#link:not(.changed):not(.invalid) {
    background-color: rgba(200, 250, 100, 0.5);
}

/* UID-to-display name hint */
#uid {
    display: inline-block;
}
#display-name {
    margin-left: 10px;
}

/* Buttons: #save, #start-socket, #stop-socket */
/* Chrome look-alike. Firefox's default buttons are ugly */
input[type="button"] {
    -moz-appearance: none;
    padding: 5px;
    display: inline-block;
    height: 2em;
    background-image: -moz-linear-gradient(top, #F6F6F6 0%, #DEDEDE 100%);
    background-image: linear-gradient(to bottom, #F6F6F6 0%, #DEDEDE 100%);
    color: #000;
    font-size: 14px;
    border: 1px solid #A4A4A4;
    border-radius: 2px;
}
input[type="button"][disabled] {
    color: #808080;
}
::-moz-focus-inner {
   border: none;
}
input[type="button"]:not([disabled]):hover {
    border-color: #7A7A7A;
}
input[type="button"]:not([disabled]):focus {
    background-image: -moz-linear-gradient(top, #DEDEDE 0%, #F6F6F6 100%);
    background-image: linear-gradient(to bottom, #DEDEDE 0%, #F6F6F6 100%);
}